@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: cornsilk;
    background-image: url('/test-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
}